In [1]:
1+1

2

In [2]:
a = [1,2,3,4,5]

In [3]:
合計/データ数

NameError: name '合計' is not defined

自然言語を理解すればできる。

合計＝順番に足した結果。

In [5]:
s=0

s = s + 1
s = s + 2
s = s + 3
s = s + 4
s = s + 5

s

15

In [36]:
a = [1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

リストaの各要素をpと呼び、pをprintする。

In [11]:
a = [1,2,3,4,5]

for yabuki in a:
    print(yabuki)

1
2
3
4
5

a,for,in,printなどはできない。常識の範囲以内で。

必ず:をつける。また字下げは勝手に行われ、直してしまうとエラーになる。

In [12]:
a = [1,2,3,4,5]

for x in a:
    print('hello')
print('world')

hello
hello
hello
hello
hello
world

In [14]:
a = [1,2,3,4,5]

for x in a:
    print('hello')
    print('world')

hello
world
hello
world
hello
world
hello
world
hello
world

In [35]:
s=0

for x in a:
    s = s + x
    
    
s

15

In [16]:
a

[1, 2, 3, 4, 5]

In [17]:
s=0

for x in a:
    s = s + x
    
    
s/x

3.0

コンピュータに平均の出し方を教えた。

In [18]:
s=0

for x in a:
    s = s + x
    
    
s/len(a)

3.0

In [24]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val

avg_tohoku /　= len(list_tohoku)
print(avg_tohoku)

SyntaxError: invalid character in identifier (<ipython-input-24-0a14ce431e3c>, line 6)

In [29]:
(3148+2991+2966+2457)/4

2890.5

In [37]:
s = 0.0
for val in list_tohoku:
    s += val
s /= len(list_tohoku)

print(s)

NameError: name 'list_tohoku' is not defined

In [31]:
list_shikoku = [3148, 2991, 2966, 2457]

s = 0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [32]:
from statistics import *

In [33]:
mean(list_shikoku)

2890.5

In [34]:
mean([1,2,3,4,5])

3

平均を示す。

In [51]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [44]:
dic = {'A':100, 'B':20, 'C':3000}

In [40]:
dic['A']

100

In [43]:
for key in dic:
    print(key)

A
B
C

In [45]:
for x in dic:
    print(x)

A
B
C

辞書の場合は左側だけ取り出される。

In [52]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [49]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [53]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [58]:
s=0

for x in dict_tohoku:
    print(x)
    #s += x

s/len(dict_tohoku)

aomori
akita
sendai
Yamagata
fukushima
morioka

0.0

まず合計を０ってことにする。

In [59]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

＃は使えない。

１．[5,4,3,2]の平均
　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　２．{'A':10, 'B':100, 'C':1000}の値の平均
　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　３．{10:'A', 100:'B', 1000:'C'}のキーの平均

In [62]:
a=[5,4,3,2]
s=0

for x in a:
    s+=x
    
s/len(a)

3.5

In [63]:
mean(a)

3.5

In [64]:
a={'A':10, 'B':100, 'C':1000}
s=0

for x in a:
    s+=a[x]

s/len(a)

370.0

In [66]:
mean(a.values())

370

In [68]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0

In [71]:
a.values()

dict_values(['A', 'B', 'C'])

↑金山は１０，１００，１０００